body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    background-color:  #272727 ;
    color: #dde;
}
.container {
    width: 100%;
   
    margin: 0 auto;

}

.container2 {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #AAAAAA;

    min-height: 150px;

}

.container1 {
    width: 100%;
    
    margin: 0 auto;
}

.stoim{

    border: 1px solid #8c8e99;
    height: 50px !important;
    width: 200px !important;
    
    
}
.ram{
border: 1px solid #dde ;
}

.navv {
    padding: 5px 135px;
}

.navv1{
    padding: 5px 360px;
}
.ts{
    
    font-size: 25px;
    text-align: center;
    margin-top: 7px;
 
    
    
}

.button{
    width: 200px;
    height: 50px;
    background-color: #8c8e99;
    opacity: 0.75;
    margin-left: 4px;
    
}
.b{
    color:#eee;

}

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A1C1D ;
    border-radius: 1px;
    height: 60px;

}
.beauty{
color: #eef;
text-align: center;
}
.center{
    text-align: center; 
}

.logo {
    padding: 150px 150px;
    font-size: 30px;
    font-weight: 700;
 

}
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    transition: color .1s linear;
    opacity: 0.5;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #eef;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {

    opacity: 1;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}
a {
    text-decoration: none;
    color : inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 30px;
    font-family: inherit;
}
.photos {
display: flex;
flex-wrap: wrap;
margin: 0 auto;
justify-content: space-around;
padding: 130px;
}

.photos1 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    padding: 50px;
    max-width: 1500px;
    }


.photos_brend {

    margin-top: 30px;
    margin-left: 20px;
 }


.photo{
margin:  10px ;
width: 500;
height:400;
}

.photo_brend{
    margin-left: 10px;
    margin-right: 10px;
}

.page{
    min-height: calc(100vh-130px)!important;
    
}
.about_text{
}
.footer{
display: flex;
background-color: #1A1C1D ;
border-radius: 10px;
padding-left: 130px;


}
.contact{
padding: 0 10px;
}

.contact_info{
opacity: 0.5;
padding: 0 10px;
}
.intro{
    padding: 0px 150px;;}

.cards{
margin: 5px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
}

.nav__link.active {
    opacity: 1;
}

.discount{

    margin: 5px;
margin-bottom: 10px;
display: flex;
flex-direction: column;
justify-content: center;

background-color: red;
opacity:0.75;
width: 50px;
height: 30px;
}

.discount_n{

    margin: 5px;
margin-bottom: 10px;
display: flex;
flex-direction: column;
justify-content: center;


width: 50px;
height: 30px;
}

.input{
    font: inherit;
    display: block;
    max-width: 750px;
    width:90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.form {
    text-align: center;
    align-items: center;
    display: flex;
    flex: column;
    justify-content: center;
}
.about{
    margin-left: 10px;
    margin-right: 10px;
  text-align: center;
}

.for_button{

    width: 100%; 

}

.btnn{
    width: 140px;
    height: 40px;
    background-color: #8c8e99;
    opacity: 0.75;
}
.btnAbout{

    width: 130px;
    height: 40px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    outline: 1px solid  #d9d9d9;
    font:inherit;
    font-weight: 400;
    color: #787878;
      margin-right: 20px;

}

.map{
    width: 85%;
    border: 3px solid #8c8e99;
}

.card{
margin: 10px;
margin-bottom: 50px;
border: 1px solid #8c8e99;
display: flex;
flex-direction: column;
justify-content: center;
transition: background-color 0.5s linear;
background-color: inherit;
width: 250px;
height: 570px;

}


.together{

display: flex;
flex-direction: column;
justify-content: center;
margin-right: 30px;

}
.photo_card{
    width: 220px;
    
    padding-left: 15px;
    margin-top: 15px;
    
}


.product__name{
text-align: center;
font-size: 20px;

}

.product__price{
text-align: center;
font-weight: 300;
}

.card:hover{
background-color: #708090;

}