<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>

<body>
    <div class="page">

        <div class="container1">
            <header class="header">
                <a class="logo" href="#">
                    Волейбол для начинающих
                </a>

            </header>
        </div>


        <div class="container">
            <header class="header">

                <nav class="navv">
                    
                    <a class="nav__link active" href="/"> Главная </a>
                    <a class="nav__link" href="/katolog"> Каталог </a>
                    <a class="nav__link" href="/about"> О нас </a>
                    <a class="nav__link" href="/sale"> Акции и скидки </a>
                </nav>
            </header>
        </div>
        <br> <br>


        <div class="container">
            <div class="photos">
               
                <img class="photo" src="{{ url_for('static', filename='img/kr.jfif')}}" width=475 height=320>
                <img class="photo" src="{{ url_for('static', filename='img/weee.jfif')}}" width=475 height=320>
                <img class="photo" src="{{ url_for('static', filename='img/andrey.JPG')}}" width=475 height=320>
            </div>
        </div>

        <br>

        <div class="container">
            <div class="intro">
                <h1 class="beauty"> Профессиональный магазин волейбольных товаров</h1>
                <p class="center"> Всегда в наличии продукция известных и проверенных временем брендов. </p> <br>
            </div>

        </div>

        <div class="container2">
            <div class="photos_brend">
                <img class="photo_brend" src="{{ url_for('static', filename='img/ww.png')}}" width=100 height=100>
                <img class="photo_brend" src="{{ url_for('static', filename='img/rr.png')}}" width=100 height=100>
                <img class="photo_brend" src="{{ url_for('static', filename='img/ccm.png')}}" width=100 height=100>
                <img class="photo_brend" src="{{ url_for('static', filename='img/r.png')}}" width=100 height=100>
                <img class="photo_brend" src="{{ url_for('static', filename='img/fisher.png')}}" width=100 height=100>
                <img class="photo_brend" src="{{ url_for('static', filename='img/mizuna.png')}}" width=100 height=100>
                <img class="photo_brend" src="{{ url_for('static', filename='img/adidas.png')}}" width=100 height=100>
                <img class="photo_brend" src="{{ url_for('static', filename='img/asics.png')}}" width=100 height=100>
                <img class="photo_brend" src="{{ url_for('static', filename='img/nike.png')}}" width=100 height=100>
                <img class="photo_brend" src="{{ url_for('static', filename='img/bauer.png')}}" width=100 height=100>
                <img class="photo_brend" src="{{ url_for('static', filename='img/v.png')}}" width=100 height=100>
                <img class="photo_brend" src="{{ url_for('static', filename='img/e.png')}}" width=100 height=100>
                <img class="photo_brend" src="{{ url_for('static', filename='img/j.png')}}" width=100 height=100>
                <img class="photo_brend" src="{{ url_for('static', filename='img/ww.png')}}" width=100 height=100>
                <img class="photo_brend" src="{{ url_for('static', filename='img/rr.png')}}" width=100 height=100>


            </div>

        </div>

    </div>






    <div class="container">
        <footer class="footer">

            <p class="contact_info"> <b>Телефон </b> - 89154803224 </p>
            <p class="contact_info"> <b>Email</b> - krbr2004@mail.ru </p>
            <p class="contact_info"> <b>Часы работы</b> - 9:00-18:00 </p>
        </footer>

    </div>






</body>

</html>