<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>


<body>
    <div class="container1">
        <header class="header">
        <a  class="logo" href="#">
            Волейбол для начинающих
        </a>
        
            </header>
    </div>


    <div class="container">
        <header class="header">

            <nav class="navv">
                
                <a class="nav__link " href="/"> Главная </a>
                <a class="nav__link active" href="/katolog"> Каталог </a>
                <a class="nav__link" href="/about"> О нас </a>
                <a class="nav__link" href="/sale"> Акции и скидки </a>
            </nav>
        </header>
    </div>
    <br> <br> 



<div class="container">
    <div class="cards">
        <div class="card">
            <div class="discount"> 
                <p class = "center">
                    -20%
                </p>
                  </div>
            <a class="product" HREF="/inf">
                <img class = "photo_card" src="{{ url_for('static', filename='img/0nQlCxnJdc0.jpg')}}" >   
            </a>
            <h2 class="product__name">  
                Женская форма
            </h2>
            <h3 class="product__price">
                1000 р
            </h3>
        </div>

        <div class="card">
            <div class="discount"> 
                <p class = "center">
                    -20%
                </p>
                  </div>
            <a class="product" HREF="/inf">
                <img class = "photo_card" src="{{ url_for('static', filename='img/0nQlCxnJdc0.jpg')}}" >
            </a>
            <h2 class="product__name">  
                Женская форма
            </h2>
            <h3 class="product__price">
                1000 р
            </h3>
        </div>
        <div class="card">
            <div class="discount"> 
                <p class = "center">
                    -20%
                </p>
                  </div>
            <a class="product" HREF="/inf">
                <img class = "photo_card" src="{{ url_for('static', filename='img/0nQlCxnJdc0.jpg')}}" >
            </a>
            <h2 class="product__name">  
                Женская форма
            </h2>
            <h3 class="product__price">
                1000 р
            </h3>
        </div>
        <div class="card">
            <div class="discount"> 
                <p class = "center">
                    -20%
                </p>
                  </div>
            <a class="product" HREF="/inf">
                <img class = "photo_card" src="{{ url_for('static', filename='img/0nQlCxnJdc0.jpg')}}" >
            </a>
            <h2 class="product__name">  
                Женская форма
            </h2>
            <h3 class="product__price">
                1000 р
            </h3>
        </div>
        <div class="card">
            <div class="discount"> 
                <p class = "center">
                    -20%
                </p>
                  </div>
            <a class="product" HREF="/inf">
                <img class = "photo_card" src="{{ url_for('static', filename='img/0nQlCxnJdc0.jpg')}}" >
            </a>
            <h2 class="product__name">  
                Женская форма
            </h2>
            <h3 class="product__price">
                1000 р
            </h3>
        </div>

        <div class="card">
            <div class="discount_n"> 
                
                  </div>
            <a class="product" HREF="/inf">
                <img class = "photo_card" src="{{ url_for('static', filename='img/anton.jpg')}}">
            </a>
            <h2 class="product__name">
                Мужская форма
            </h2>
            <h3 class="product__price">
                1000 р
            </h3>
        </div>
        
        <div class="card">
            <div class="discount_n"> 
                
                  </div>
            <a class="product" HREF="/inf">
                <img class = "photo_card" src="{{ url_for('static', filename='img/anton.jpg')}}" >
            </a>
            <h2 class="product__name">
                Мужская форма
            </h2>
            <h3 class="product__price">
                1000 р
            </h3>
        </div>

        <div class="card">
            <div class="discount_n"> 
                
                  </div>
            <a class="product" HREF="/inf">
                <img class = "photo_card" src="{{ url_for('static', filename='img/anton.jpg')}}" >
            </a>
            <h2 class="product__name">
                Мужская форма
            </h2>
            <h3 class="product__price">
                1000 р
            </h3>
        </div>

        <div class="card">
            <div class="discount_n"> 
                
                  </div>
            <a class="product" HREF="/inf">
                <img class = "photo_card" src="{{ url_for('static', filename='img/anton.jpg')}}" >
            </a>
            <h2 class="product__name">
                Мужская форма
            </h2>
            <h3 class="product__price">
                1000 р
            </h3>
        </div>

        <div class="card">
            <div class="discount_n"> 
                
                  </div>
            <a class="product" HREF="/inf">
                <img class = "photo_card" src="{{ url_for('static', filename='img/anton.jpg')}}">
            </a>
            <h2 class="product__name">
                Мужская форма
            </h2>
            <h3 class="product__price">
                1000 р
            </h3>
        </div>
        <div class="card">
            <div class="discount_n"> 
               
                  </div>
            <a class="product" HREF="/inf">
                <img class = "photo_card" src="{{ url_for('static', filename='img/anton.jpg')}}" >
            </a>
            <h2 class="product__name">
                Мужская форма
            </h2>
            <h3 class="product__price">
                1000 р
            </h3>
        </div>
        <div class="card">
            <div class="discount_n"> 
                
                  </div>
            <a class="product" HREF="/inf">
                <img class = "photo_card" src="{{ url_for('static', filename='img/anton.jpg')}}" >
            </a>
            <h2 class="product__name">
                Мужская форма
            </h2>
            <h3 class="product__price">
                1000 р
            </h3>
        </div>

        

    </div>
</div>




<div class="container">
    <footer class="footer">

    <p class="contact_info"> <b>Телефон </b>  - 89154803224 </p>
        <p class="contact_info"> <b>Email</b> - krbr2004@mail.ru </p>
        <p class="contact_info"> <b>Часы работы</b> - 9:00-18:00 </p>
    </footer>

</div>
</body>


</html>